/*Cores*/

$medium-yellow: #FBB03B;
$dark-yellow: #e6a236;
$deep-yellow: #836615;
$light-grey: #cecece;
$medium-grey: #aca9a6;
$dark-grey: #383838;
$dark-grey-secondary: #4D4D4D;
$black: #222;
$white: #fff;

/*Radius*/

$default-radius: .4rem;
$no-radius: 0;